include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.rst *.py *.jpg *.png *.gif
include src/sql_batcher/py.typed